In [1]:
pwd

'C:\\Users\\vaishu'

f

In [22]:
f=open(r"C:\Users\vaishu\Documents/emp12.csv",encoding='ISO-8859-1')
print("f")

f

In [23]:
for x in f:
    row=x.split(',')
    salary=int(row[5])
    print("totalsalaryfor"+row[1]+ "is"+str(salary))
    DA=salary*0.25
    print("DA is"+str(DA))
    TZ=salary*0.15
    print("TZ is"+str(TZ))
    HRA=salary*0.16
    print("HRA is"+str(HRA))
    CCA=salary*0.2
    print("CCA is"+str(CCA))
    MA=salary*0.5
    print("MA is" +str(MA))
    LIC=salary*0.5
    print("LIC is"+str(LIC))
    Netsalary=DA+TZ+HRA+CCA+MA+LIC
    print("Netsalaryfor"+row[1]+ "is"+str(Netsalary))
    print('\n')

totalsalaryforSheethalis25000
DA is6250.0
TZ is3750.0
HRA is4000.0
CCA is5000.0
MA is12500.0
LIC is12500.0
NetsalaryforSheethalis44000.0


totalsalaryforSonuis28000
DA is7000.0
TZ is4200.0
HRA is4480.0
CCA is5600.0
MA is14000.0
LIC is14000.0
NetsalaryforSonuis49280.0


totalsalaryforSandeepis100000
DA is25000.0
TZ is15000.0
HRA is16000.0
CCA is20000.0
MA is50000.0
LIC is50000.0
NetsalaryforSandeepis176000.0


totalsalaryforManojis65000
DA is16250.0
TZ is9750.0
HRA is10400.0
CCA is13000.0
MA is32500.0
LIC is32500.0
NetsalaryforManojis114400.0


totalsalaryforPrasannais15000
DA is3750.0
TZ is2250.0
HRA is2400.0
CCA is3000.0
MA is7500.0
LIC is7500.0
NetsalaryforPrasannais26400.0


totalsalaryforPriyankais20000
DA is5000.0
TZ is3000.0
HRA is3200.0
CCA is4000.0
MA is10000.0
LIC is10000.0
NetsalaryforPriyankais35200.0


totalsalaryforShravanthiis28000
DA is7000.0
TZ is4200.0
HRA is4480.0
CCA is5600.0
MA is14000.0
LIC is14000.0
NetsalaryforShravanthiis49280.0


totalsalaryforYaminiis19000
DA is4750.0
TZ is2850.0
HRA is3040.0
CCA is3800.0
MA is9500.0
LIC is9500.0
NetsalaryforYaminiis33440.0


totalsalaryforChaitanyais25000
DA is6250.0
TZ is3750.0
HRA is4000.0
CCA is5000.0
MA is12500.0
LIC is12500.0
NetsalaryforChaitanyais44000.0


totalsalaryforLeela Krishnais26000
DA is6500.0
TZ is3900.0
HRA is4160.0
CCA is5200.0
MA is13000.0
LIC is13000.0
NetsalaryforLeela Krishnais45760.0


totalsalaryforMahenderis60000
DA is15000.0
TZ is9000.0
HRA is9600.0
CCA is12000.0
MA is30000.0
LIC is30000.0
NetsalaryforMahenderis105600.0


totalsalaryforYelishetty Shankaris100000
DA is25000.0
TZ is15000.0
HRA is16000.0
CCA is20000.0
MA is50000.0
LIC is50000.0
NetsalaryforYelishetty Shankaris176000.0


totalsalaryforSwapnais23000
DA is5750.0
TZ is3450.0
HRA is3680.0
CCA is4600.0
MA is11500.0
LIC is11500.0
NetsalaryforSwapnais40480.0


totalsalaryforNikhilis25000
DA is6250.0
TZ is3750.0
HRA is4000.0
CCA is5000.0
MA is12500.0
LIC is12500.0
NetsalaryforNikhilis44000.0


totalsalaryforSai Kumaris30000
DA is7500.0
TZ is4500.0
HRA is4800.0
CCA is6000.0
MA is15000.0
LIC is15000.0
NetsalaryforSai Kumaris52800.0