In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/vaishu/Documents/14.FDNY.csv")
df

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
...,...,...,...
214,Engine 162/Ladder 82/Battalion 23,256 Nelson Avenue,Staten Island
215,Engine 167/Ladder 87,345 Annadale Road,Staten Island
216,Engine 164/Ladder 84,1560 Drumgoole Road West,Staten Island
217,Engine 168/EMS Station 23,1100 Rossville Avenue,Staten Island
218,Engine 151/Ladder 76,7219 Amboy Road,Staten Island

In [3]:
df.head()

,FacilityName,FacilityAddress,Borough
0,FacilityName,FacilityAddress,Borough
1,Engine 4/Ladder 15,42 South Street,Manhattan
2,Engine 10/Ladder 10,124 Liberty Street,Manhattan
3,Engine 6,49 Beekman Street,Manhattan
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan

In [4]:
df=pd.read_csv("C:/Users/vaishu/Documents/14.FDNY.csv")
df = pd.read_csv("C:/Users/vaishu/Documents/14.FDNY.csv", skiprows=lambda x: x % 100 != 0)
print(df)

            FacilityName              FacilityAddress        Borough
0  Engine 233/Ladder 176           25 Rockaway Avenue       Brooklyn
1               Marine 9  Saint George Ferry Terminal  Staten Island

In [5]:
statistics = df.describe()
print(statistics)

                 FacilityName     FacilityAddress   Borough
count                       2                   2         2
unique                      2                   2         2
top     Engine 233/Ladder 176  25 Rockaway Avenue  Brooklyn
freq                        1                   1         1

In [6]:
df.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [7]:
fire_department_facilities=df[df['FacilityAddress']=='New York']
total_fire_department_facilities=fire_department_facilities['FacilityName'].nunique()
print("Total number of fire department facilities in New York City:",total_fire_department_facilities)

Total number of fire department facilities in New York City: 0

In [8]:
record_counts=df.count()
for column_name,count in record_counts.items():
    print(f"Attribute: {column_name}, count:{count}")

Attribute: FacilityName, count:2
Attribute: FacilityAddress, count:2
Attribute: Borough, count:2

In [9]:
data_type=df.dtypes
print(data_type)

FacilityName       object
FacilityAddress    object
Borough            object
dtype: object

In [10]:
borough_facility_counts=df.groupby('Borough')['FacilityName'].nunique()
print("Total number of fire department facilities in each borough:")
print(borough_facility_counts)

Total number of fire department facilities in each borough:
Borough
Brooklyn         1
Staten Island    1
Name: FacilityName, dtype: int64

In [11]:
for borough,group in df.groupby('Borough'):
    print(f"FNDY Information for {borough} Borough:")
    print(group)
    print("\n")

FNDY Information for Brooklyn Borough:
            FacilityName     FacilityAddress   Borough
0  Engine 233/Ladder 176  25 Rockaway Avenue  Brooklyn


FNDY Information for Staten Island Borough:
  FacilityName              FacilityAddress        Borough
1     Marine 9  Saint George Ferry Terminal  Staten Island

In [16]:
manhattan_facilities = df[df['Borough'] == 'Manhattan']
total_manhattan_facilities = manhattan_facilities['FacilityName'].nunique()
print("Total number of fire department facilities in Manhattan:", total_manhattan_facilities)

Total number of fire department facilities in Manhattan: 0

In [29]:
for Manhattan,group in df.groupby('Borough'):
    print(f"FNDY Information for {Manhattan} Borough:")
    print(group)
    print("\n")

FNDY Information for Brooklyn Borough:
            FacilityName     FacilityAddress   Borough
0  Engine 233/Ladder 176  25 Rockaway Avenue  Brooklyn


FNDY Information for Staten Island Borough:
  FacilityName              FacilityAddress        Borough
1     Marine 9  Saint George Ferry Terminal  Staten Island

In [30]:
unique_boroughs = df['Borough'].unique()
for borough in unique_boroughs:
    borough_facilities = df[df['Borough'] == borough]
    
    print(f"FDNY Information for Facilities in {borough}:")
    print(borough_facilities[['FacilityName', 'FacilityAddress', 'Borough']])
    print("\n")

FDNY Information for Facilities in Brooklyn:
            FacilityName     FacilityAddress   Borough
0  Engine 233/Ladder 176  25 Rockaway Avenue  Brooklyn


FDNY Information for Facilities in Staten Island:
  FacilityName              FacilityAddress        Borough
1     Marine 9  Saint George Ferry Terminal  Staten Island

In [35]:
manhattan_facilities = df[df['Borough'].str.strip().str.lower() == 'manhattan']
df['Borough'] = df['Borough'].str.strip()
unique_boroughs = df['Borough'].unique()
print(unique_boroughs)
manhattan_data = df[df['Borough'] == 'Manhattan']
print(manhattan_data)

['Brooklyn' 'Staten Island']
Empty DataFrame
Columns: [FacilityName, FacilityAddress, Borough]
Index: []