In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/vaishu/Documents/Sf_Salaries.csv")
df

C:\Users\vaishu\AppData\Local\Temp\ipykernel_9808\1074194020.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("C:/Users/vaishu/Documents/Sf_Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0,0,0,0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0,0,-618.13,0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [5]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [6]:
df=df.drop(['Benefits','Notes','Status'],axis=1)

In [7]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
filtered_df = df[df['Year'].isin([2011, 2014])]
average_base_pay = filtered_df['BasePay'].mean()

print("Average Base Pay for 2011 and 2014:", average_base_pay)

Average Base Pay for 2011 and 2014: 65119.35419680119

In [8]:
df['OvertimePay']=pd.to_numeric(df['OvertimePay'],errors='coerce')
highest_overtimepay=df['OvertimePay'].max()
print("highest overtime pay:",highest_overtimepay)

highest overtime pay: 245131.88

In [10]:
josephdriscoll_row=df[df['EmployeeName']=='JOSEPH DRISCOLL']
josephdriscoll_JobTitle=josephdriscoll_row['JobTitle'].values[0]
print(josephdriscoll_JobTitle)

CAPTAIN, FIRE SUPPRESSION

In [12]:
josephdriscoll_row=df[df['EmployeeName']=='JOSEPH DRISCOLL']
josephdriscoll_benefits=josephdriscoll_row['TotalPayBenefits'].values[0]
print(josephdriscoll_benefits)

270324.91

In [13]:
highest_paid_employee = df.loc[df['TotalPayBenefits'].idxmax()]
print("Highest paid employee:")
print(highest_paid_employee)

Highest paid employee:
Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Agency                                               San Francisco
Name: 0, dtype: object

In [15]:
lowest_paid_employee=df.loc[df['TotalPayBenefits'].idxmin()]
print("lowest paid employee:")
print(lowest_paid_employee)

lowest paid employee:
Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Agency                           San Francisco
Name: 148653, dtype: object

In [16]:
filtered_df = df[df['Year'].between(2011, 2014)]
average_basepay_per_year = filtered_df.groupby('Year')['BasePay'].mean()
print(average_basepay_per_year)

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [17]:
unique_job_titles_count = df['JobTitle'].nunique()
print("Number of unique job titles:", unique_job_titles_count)

Number of unique job titles: 2159

In [18]:
top_5_jobs = df['JobTitle'].value_counts().head(5)
print("Top 5 most common job titles:")
print(top_5_jobs)

Top 5 most common job titles:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64